<div class="calcolatrice">
    <div class="display">
        <input type="text" class="displayInput" readonly value="0" [(ngModel)]="display">
    </div>
    <div class="grid-calcolatrice">
        <button *ngFor="let segno of simboli" class="segno" (click)="selezionaSegno(segno)">{{segno}}</button>
        <button *ngFor="let numero of numeriCalcolatrice" (click)="inserisciNumero(numero)"
            class="bottone">{{numero}}</button>
        <button class="bottone" (click)="calcolo()">=</button>
        <button class="AC" (click)="clearAll()" [disabled]="!canClearAll">AC</button>
    </div>
</div>

<ul>
    <li>Esc => clear all (AC Button)</li>
    <li>Enter => calculate the operation</li>
    <li>From PC => you can type numbers and operations from your keyboard</li>
</ul>